<!-- Full Menu -->
<div class="full-menu">
  <div class="fullmenu-content">
    <ul class="page-menu">
      <li><button style="color: #fff;
        font-size: 26px;
        position: relative;
        font-weight: 500;
        background: none;
        border: none;" (click)="onClickGallery($event)">Home</button></li>
      <li><button style="color: #fff;
        font-size: 26px;
        position: relative;
        font-weight: 500;
        background: none;
        border: none;" (click)="onClickAboutMe($event)">About me</button></li>
      <li><button style="color: #fff;
        font-size: 26px;
        position: relative;
        font-weight: 500;
        background: none;
        border: none;" (click)="onClickContact($event)">Contact</button></li>
      <li class="social">
        <a href="https://twitter.com/KKolengadan"><img src="../assets/icons/social/twitter.svg" alt=""></a>
        <a href="https://www.facebook.com/kevin.kolengadan"><img src="../assets/icons/social/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/kevin.kolengadan/"><img src="../assets/icons/social/instagram.svg" alt=""></a>
      </li>
    </ul>
  </div>
  <a href="" class="modal-close"></a>
</div>