<header>
  <div class="logo float-left">
		<a href="">ABOUT ME</a>
  </div> 
  <div class="float-right" (click)="onClickNavMenu($event)" style="padding: 10px;background: darkgray;">
    <div class="nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<route-component></route-component>

<div class="container" style=" margin-top: 105px;">
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <img style="width: 100%;border-radius: 130px;" src="../../assets//photo_gallery/Kevin Profile.jpg">
      </div>
      <div class="col-sm-12 col-md-8 offset-md-1">
        My name is Kevin Kolengadan and I'm a full stack web developer.<br>
        I created this website to learn the latest trends in web animation and to post some photos that I see through 
        my eyes in the city of Melbourne.
        <br>
        <br>
        <h3>LITTLE ABOUT ME</h3>
        I am hailing from the "God's own Country" Kerala, India. I was a Senior Systems Engineer in Infosys, Bangalore for 
        the past 2.5years. I moved to Melbourne for pursuing my Masters of Information Technology at RMIT University. During 
        my professional years, I worked in one of the most successful products of Infosys, Finacle. I was a web developer in it 
        for redesigning the existing system up to the latest trends. I was a valuable contributor in the project to create a 
        base architecture for the whole front end architecture and was able to guide a team of 10 people on how to work on this 
        framework and develop more features.
        <br>
        <br>
        <h3>Familiar Technologies</h3>
        <div class="row">
          <div class="col sm-12 md-6">
            <h5>Front-end</h5>
            <li>
              <ul>HTML5</ul>
              <ul>CSS3</ul>
              <ul>JQuery</ul>
              <ul>AngularJS</ul>
              <ul>Angular</ul>
              <ul>REST-APIs</ul>
              <ul>Angular Material</ul>
              <ul>Materialize</ul>
              <ul>Bootstrap</ul>
            </li>
          </div>
          <div class="col sm-12 md-6">
            <h5>Back-end</h5>
            <li>
              <ul>JAVA</ul>
              <ul>C/C++</ul>
              <ul>Hibernate</ul>
              <ul>mySQL</ul>
              <ul>PL/SQL</ul>
              <ul>Python</ul>
            </li>
          </div>
          <div class="col sm-12 md-6">
            <h5>Others</h5>
            <li>
                <ul>Jenkins</ul>
                <ul>Maven</ul>
                <ul>MVC Architecture</ul>
                <ul>MAterial Design Architecture</ul>
              </li>
          </div>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>