<header>
  <div class="float-right" (click)="onClickNavMenu($event)" style="padding: 10px;background: darkgray;">
    <div class="nav-icon float-right">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
<route-component></route-component>
<div class="wrapper">
  <section class="main">
    <div style="position: absolute;">
      <img class="gallery-img img1" src="../../assets//photo_gallery/1.jpg">
    </div>
    <div class="main-content text-right text1">
      <h1 class="main-title">I'm Kevin Kolengadan<br>
        Passionate Full Stack Web Developer<br>
        Interested in photography<br></h1>
      <div class="social">
        <a href="https://twitter.com/KKolengadan"><img 
            src="../assets/icons/social/twitter.svg" alt=""></a>
        <a href="https://www.facebook.com/kevin.kolengadan" target="_blank"><img
            src="../assets/icons/social/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/kevin.kolengadan/" target="_blank"><img
            src="../assets/icons/social/instagram.svg" alt=""></a>
      </div>
    </div>
  </section>
</div>
<div class="wrapper">
  <section class="main">
    <div style="position: absolute;">
      <img class="gallery-img" src="../../assets//photo_gallery/3.jpg">
    </div>
    <div class="fade-in-out" style="position: absolute;">
      <img class="gallery-img" src="../../assets//photo_gallery/3.1.jpg">
    </div>
    <div class="main-content text-right fade-out-in"  style="position: absolute;font-family: cursive;padding-top: 40vh;">
        <h1 class="main-title" style="color: black;vertical-align: middle">Portrait of an eye<br>
          By Rohan George Jacob<br></h1>
      </div>
  </section>
</div>
<div class="wrapper">
  <section class="main">
    <div style="position: absolute;">
      <img class="gallery-img" src="../../assets//photo_gallery/6.jpg">
    </div>
    <div class="main-content text-right text3"  style="position: absolute;font-family: cursive;padding-top: 40vh;">
        <h1 class="main-title" style="color: black;vertical-align: middle">Apollo Bay,<br>
          Great Ocean Drive<br></h1>
      </div>
  </section>
</div>
<div class="wrapper">
  <section class="main">
    <div style="position: absolute;">
      <img class="gallery-img" src="../../assets//photo_gallery/7.jpg">
    </div>
    <div class="main-content text-right text3"  style="position: absolute;font-family: cursive;padding-top: 40vh;">
        <h1 class="main-title" style="color: black;vertical-align: middle">Apollo Bay,<br>
          Great Ocean Drive<br></h1>
      </div>
  </section>
</div>
<div class="wrapper">
  <section class="main">
    <div style="position: absolute;">
      <img class="gallery-img" src="../../assets//photo_gallery/5.jpg">
    </div>
    <div class="main-content text-right">
      <h1 class="main-title">I'm Kevin Kolengadan<br>
        Passionate Full Stack Web Developer<br>
        Interested in photography<br></h1>
    </div>
  </section>
</div>